[submodule "libs/libeiffel"]
	path = libs/libeiffel
	url = https://github.com/skyline-dev/libeiffel.git
[submodule "libs/sead"]
	path = libs/sead
	url = https://github.com/open-ead/sead
[submodule "libs/agl"]
	path = libs/agl
	url = https://github.com/open-ead/agl
[submodule "libs/NintendoSDK"]
	path = libs/NintendoSDK
	url = https://github.com/open-ead/nnheaders
[submodule "libs/botw"]
	path = libs/botw
	url = https://github.com/zeldaret/botw
